body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #370cc0;
  background: linear-gradient(#4e4c4c, black);
  animation: animate-background 10s infinite;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  height: 100%;
  width: 100%;
  background-size: 200% 200%;
}

@keyframes animate-background {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

a {
  text-decoration: none;
}

.user-card {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 5rem;
}

.post-excerpt img {
  max-height: 200px;
  width: auto;
  filter: opacity(90%) brightness(90%);
}

.user-card .profile-image-wrapper {
  width: 120px;
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    black,
    #fc00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00dbde,
    #fc00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 200% 200%;
  animation: animate-background 5s infinite;
  z-index: 1;
}

.user-card .profile-image-wrapper img {
  height: 100px;
  width: 120px;
  object-fit: cover;
  z-index: -1;
}
